.accordion_container {
  width: auto;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 30px 100px;
}

.accordion {
  flex: 1 1 45%;  // ils prendront environ 45% du container chacun
  min-width: 300px; // largeur mini pour pas qu'ils soient trop petits
  border-radius: 8px;
  overflow: hidden;
  background-color: #f6f6f673;
}

.accordion_header {
  background-color: #ff6060;
  color: white;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;

  &:focus {
    outline: none;
  }

  .arrow {
    transition: transform 0.3s ease;
    font-size: 1rem;
    margin-left: 10px;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.accordion_content {
  background-color: white;
  padding: 16px 20px;
  color: #333;
  line-height: 1.5;

  ul {
    list-style: disc;
    margin-left: 20px;
  }
}
