.error-container {
  text-align: center;
  margin: 139px auto;

  .error-code {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 288px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FF6060;
    margin: 0;
  }

  .error-message {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #FF6060;
    margin: 139px auto;
  }

  .error-link {
    font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #000000;
  }
}
