$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-medium: 1280px;

.error-container {
  text-align: center;
  margin: 139px auto;

  .error-code {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 288px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FF6060;
    margin: 0;
  }

  .error-message {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #FF6060;
    margin: 139px auto;
  }

  .error-link {
    font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #000000;
  }
  @media (max-width: $breakpoint-tablet) {
    margin: 139px 57.5px;

    .error-code{
      font-family: Montserrat;
      font-weight: 700;
      font-size: 86px;
      line-height: 143%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
    }

    .error-message{
      font-family: Montserrat;
      font-weight: 500;
      font-size: 18px;
      line-height: 143%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: bottom;
    }

    .error-link{
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0%;
      vertical-align: bottom;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-offset: 0%;
      text-decoration-thickness: 0%;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    margin: 139px 57.5px;

    .error-code{
      font-family: Montserrat;
      font-weight: 700;
      font-size: 96px;
      line-height: 143%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
    }

    .error-message{
      font-family: Montserrat;
      font-weight: 500;
      font-size: 18px;
      line-height: 143%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: bottom;
    }

    .error-link{
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0%;
      vertical-align: bottom;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-offset: 0%;
      text-decoration-thickness: 0%;
    }
  }
}
