.tag-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 100px;

  &_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &_tag {
    background-color: #ff6060;
    color: white;
    font-size: 0.8rem;
    padding: 5px 15px;
    border-radius: 10px;
    white-space: nowrap;
  }

  &_stars {
    display: flex;
    gap: 5px;
  }

  .fas {
    color: #ff6060; // étoile pleine
  }

  .far {
    color: #e3e3e3; // étoile vide
  }
}
